{% extends 'base.html' %}
{% block content %}
    <!-- Begin page content -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>{{ pagename }}</h1>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {# <form action="{% url "snippet-create" %}" method="post"> #}
                <form action="" method="post">
                    {% csrf_token %}
                    {% comment %}
                    <table>
                        {{ form }}
                    </table>
                    {% endcomment %}
                    {{ form.as_p }}
                    <div class="form_group_row">
                        <div class="col-6">
                            <input type="submit" class="btn btn-primary btn-block" value="Создать сниппет"/>
                        </div>
                    </div>
                    {# input type="submit" value="Submit"/> #}
                </form>
            </div>
        </div>
    </div>
{% endblock %}